<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style> .flex{
    display: flex;
  }

  .column{
    display:flex;
    flex-direction:column;
  } .card{
    margin-top: 60px;
  }</style>

</head>



<body>
    <div class="container-fluid">
      <div class="jumbotron text-center">
        <h1>Mission  to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
      </div>
      <div>
        <h2> Latest Mars News </h2>
        <h3> {{mars.aritcle_title}} </h3>
        <h4> {{mars.news_para}} </h4>
      </div>
      <div class="container-fluid">
        <div class="flex">
          <div class="flex column">
            <h2>Featured Mars Image</h2>
            <img src="{{mars.main_image}}" alt="Mars Image" style="max-width: 90%;" >
          </div>

            <div class="card"> 
              <div class="card-body">
                <h2 class="card-title"> Current Weather on Mars </h2>
                <h4 class="card-subtitle mb-2 text-muted"> {{mars.mars_weather}} </h4>
                <h2 class="card-title">Mars Facts</h2>
                <h4 class="table table-striped"> {{mars.mars_facts | safe}} </h4>
            </div>
          
        </div>
      </div>
    </div>
 
  
<br>

    <h1 align ="center"> Mars Hemispheres </h1>
<br>

  {% for picture in mars.hemisphere_image_urls %}
  <div class="col-md-6">
              <div class="card" style="width: 18rem;">
                <img src="{{picture.img_url}}"  width="600" height="600" alt="Mars Image" >
                <div class="card-body">
                 <b><p  class="card-text"> {{ picture.title }}</b> 
                </div>
              </div>
  </div>

  {% endfor %}
    
  </body>
  
  </html>